form label {
  display: inline-block;
  width: 100px;
}

form div {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}
.main
{
  width:500px;
  margin-top: 70px;
  margin-left: 500px;
  border:1px solid black;
}
.tarea
{
  display: flex;
  padding: 2px;s
}
textarea
{
  margin-top: -10px;
  margin-left: -30px;
}